<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.0.3" rim:header="RIM-Widget:rim/widget">
  <name>Frink</name>
  <description>This is a reddit client for the playbook.</description>
  <author rim:copyright="2010">Justin Beckwith</author>
  <icon rim:hover="false" src="images/icon.png"/>
  <icon rim:hover="true" src="images/icon.png"/>
  <content src="index.html"/>
</widget>