<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.1.0.0">
	<name>Frink</name>
	<description>Frink! is a reddit client for tablets.</description>
	<author rim:copyright="2011">Justin Beckwith</author>
	<access uri="*" />
  <content src="index.html"/>   
</widget>